<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4>Edit Student
                <a routerLink ="/students" class="btn btn-danger float-end">Back</a>
            </h4>
        </div>
        <div class="card-body">
            <form (ngSubmit)="updateStudent()">
                <div *ngIf = "student">                
                    <div class="mb-3">
                        <label>Name</label>
                        <input type="text" [(ngModel)]="student.name" name="name" class="form-control"/>
                        <span *ngIf="errors.name" class="text-danger">{{errors.name}}</span>
                    </div>
                    <div class="mb-3">
                        <label>Course</label>
                        <input type="text" [(ngModel)]="student.course" name="course" class="form-control"/>
                        <span *ngIf="errors.course" class="text-danger">{{errors.course}}</span>
                    </div>
                    <div class="mb-3">
                        <label>Email</label>
                        <input type="text" [(ngModel)]="student.email" name="email" class="form-control"/>
                        <span *ngIf="errors.email" class="text-danger">{{errors.email}}</span>
                    </div>
                    <div class="mb-3">
                        <label>Phone</label>
                        <input type="text" [(ngModel)]="student.phone" name="phone" class="form-control"/>
                        <span *ngIf="errors.phone" class="text-danger">{{errors.phone}}</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>           
        </div>
    </div>
</div>
