<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4>Create Student
                <a routerLink ="/students" class="btn btn-danger float-end">Back</a>
            </h4>
        </div>
        <div class="card-body">
            <ng-template  [ngIf]="isLoading" else elseForm>
                <app-loader : title="loadingTitle" />
            </ng-template>
            <!-- <div *ngIf = "isLoading; else elseForm">
                <app-loader : title="loadingTitle" />
            </div>   -->
            <div #elseForm>
                <form (ngSubmit)="saveStudent()">
                    <div class="mb-3">
                        <label>Name</label>
                        <input type="text" [(ngModel)]="name" name="name" class="form-control"/>
                        <span *ngIf="errors.name" class="text-danger">{{errors.name}}</span>
                    </div>
                    <div class="mb-3">
                        <label>Course</label>
                        <input type="text" [(ngModel)]="course" name="course" class="form-control"/>
                        <span *ngIf="errors.course" class="text-danger">{{errors.course}}</span>
                    </div>
                    <div class="mb-3">
                        <label>Email</label>
                        <input type="text" [(ngModel)]="email" name="email" class="form-control"/>
                        <span *ngIf="errors.email" class="text-danger">{{errors.email}}</span>
                    </div>
                    <div class="mb-3">
                        <label>Phone</label>
                        <input type="text" [(ngModel)]="phone" name="phone" class="form-control"/>
                        <span *ngIf="errors.phone" class="text-danger">{{errors.phone}}</span>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>